@model SalesWebMVC.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />

    <div>
        <strong>@Html.DisplayNameFor(model => model.Name)</strong>
        <p>@Html.DisplayFor(model => model.Name)</p>
    </div>

    <div>
        <strong>@Html.DisplayNameFor(model => model.Email)</strong>
        <p>@Html.DisplayFor(model => model.Email)</p>
    </div>

    <div>
        <strong>@Html.DisplayNameFor(model => model.BirthDate)</strong>
        <p>@Model.BirthDate.ToString("dd/MM/yyyy")</p>
    </div>

    <div>
        <strong>@Html.DisplayNameFor(model => model.BaseSalary)</strong>
        <p>@Html.DisplayFor(model => model.BaseSalary)</p>
    </div>

    <div>
        <strong>@Html.DisplayNameFor(model => model.Department)</strong>
        <p>@Html.DisplayFor(model => model.Department.Name)</p>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-default">Back to List</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    </div>
</div>
